// This is a template file for the secrets environment variable file. This file is just a template for the actual file
// containing the secrets. This template can be pushed to a remote repository.
//
// To run Enrich's backend, you should create a copy of this file in the "/data/" directory and name it "secrets.env".
// Then replace all template values with actual values.
// Note that the real secrets file should NEVER be pushed to the repository.

OPENAI_TOKEN="YOUR_OPENAI_API_KEY"

MILVUS_TOKEN="YOUR_MILVUS_API_KEY"