# This is a template file for the secrets environment variable file. This file is just a template for the actual file
# containing the secrets. This template can be pushed to a remote repository.
#
# To run Enrich's backend, you should create a copy of this file in the "/data/" directory and name it "secrets.env".
# Then replace all template values with actual values.
# Note that the real secrets file should NEVER be pushed to the repository.

# OpenAI API key
OPENAI_TOKEN="YOUR_OPENAI_API_KEY"

# Postgresql connection string
# When using Heroku this is found in config vars and this value doesn't need to be changed
#
# If connecting to local database, refer to: https://www.calhoun.io/connecting-to-a-postgresql-database-with-gos-database-sql-package/
DATABASE_URL="host=localhost port=5432 user=<username> password=<password> dbname=<database name> sslmode=disable"

# Heroku uses environment variables to assign outside ports
# In local development you can use almost whatever port
PORT="8080"
